<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script>
		const answers = JSON.parse(<%- answers %>);
		const userData = <%- userData %>;
	</script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script defer src="/javascript/demoResults.js"></script>
	<link rel="stylesheet" href="/css/demoresults.css">
	<link rel="preload" href="/demo/images/0.png" as="image" fetchpriority="high">
	<link rel="preload" href="/demo/images/1.png" as="image" fetchpriority="high">
	<link rel="preload" href="/demo/images/2.png" as="image" fetchpriority="high">
	<link rel="preload" href="/demo/images/3.png" as="image" fetchpriority="high">
	<link rel="preload" href="/demo/images/4.png" as="image" fetchpriority="high">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js" integrity="sha512-CNgIRecGo7nphbeZ04Sc13ka07paqdeTu0WR1IM4kNcpmBAUSHSQX0FslNhTDadL4O5SAGapGt4FodqL8My0mA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<title>Demo Results | Science Fair</title>
</head>
<body>
	<div class="outer">
		<div class="title-container">
			<div class="title-wrapper">
				<h1 class="title">Demo Results</h1>
				<div class="qrcode" id="qrcode"></div>
			</div>
			<div class="results">
				<h3 class="correct-title" >You got <span id="correctNum"></span> / 8</h3>
				<h3 class="correct-subtitle"><span id="correctPercentage"></span>% correct</h3>
			</div>
		</div>
		<div class="container-outer">
			<div class="container">
				<div class="outer-question centered">
					<img src="/demo/images/0.png" class="image" id="image" width="318" height="318">
					<h3 id="poem" class="lineheight" style="display:none">poem</h3>
				</div>
				<div class="centered buttons" id="buttons">
					<button class="button" id="buttonFakeWrap"><input type="checkbox" id="fakeButton" style="display:none"><label>Fake</label></button>
					<button class="button" id="buttonRealWrap"><input type="checkbox" id="realButton" style="display:none"><label>Real</label></button>
				</div>
				<div></div>
				<div></div>
			</div>
		</div>
		<div class="next-prev centered">
			<button onclick="prevPage()" class="pagebutton" id="prevButton"><</button>
			<button onclick="nextPage()" class="pagebutton" id="nextButton">></button>
		</div>

		<div class="progress">
			<div class="pageProgress" id="1" onclick="updatePageNum(1)">1</div>
			<div class="pageProgress" id="2" onclick="updatePageNum(2)">2</div>
			<div class="pageProgress" id="3" onclick="updatePageNum(3)">3</div>
			<div class="pageProgress" id="4" onclick="updatePageNum(4)">4</div>
			<div class="pageProgress" id="5" onclick="updatePageNum(5)">5</div>
			<div class="pageProgress" id="6" onclick="updatePageNum(6)">6</div>
			<div class="pageProgress" id="7" onclick="updatePageNum(7)">7</div>
			<div class="pageProgress" id="8" onclick="updatePageNum(8)">8</div>
		</div>
		
	</div>
</body>
</html>