<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/index.css">
	<title>Main | Science Fair</title>
</head>
<body>
	<div class="div">
		<h1 class="centered title">Is It <%= title %>?</h1>
		<h4 class="centered description">Artificial Intelligence (AI) has been making major breakthroughs throughout the past few years,
			with models like GPT3 capable of natural language as well as DALL-E and 
			Stable Diffusion generating high quality images. However, one question remains:
			Can humans still tell apart AI generated content and human
			generated content? Let's find out!</h4>
		<form action="/user" method="GET" class="centered button-form">
			<button type="submit" class="button centered"><span>Show Results </span></button>
		</form>
	</div>
</body>
</html>