<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/quizmain.css">
	<title>Form | Science Fair</title>
</head>
<body>
	<div>
		<h1 class="centered title ">Begin</h1>
		<form class="centered" action="/quiz" method="post">

			<div>
				<label for="fullName">Full Name</label>
				<br>
				<input type="text" value="<%= locals.fullName || "" %>" name="fullName">
			</div>

			<br>

			<div>
				<label for="class">Class</label>
				<br>
				<select id="class" name="class">
					<option value="7">12 yo</option>
					<option value="8">13 yo</option>
					<option selected="selected" value="9">Sec 1</option>
					<option value="10">Sec 2</option>
					<option value="11">Sec 3</option>
					<option value="12">Sec 4</option>
					<option value="teacher">Teacher</option>
				</select>
			</div>
			
			<br>

			<div>
				<label for="age">Age</label>
				<br>
				<input type="number" value="<%= locals.age || "" %>" step="1" min="1" max="99" name="age">
			</div>

			<br>

			<div>
				<label for="confidence">How many do you think you will get right?</label>
				<br>
				<input type="number" value="<%= locals.confidence || "" %>" value="0" step="1" min="0" max="100" name="confidence">
				<label for="confidence">%</label>
			</div>
			

			<br>

			<input type="checkbox" name="acceptedTerms">
			<label for="accept">I agree to participate. Please don't share answers and don't leave the quiz page <br> (it won't save your progress and you will have to speak/text petr to get back to it).<br>Don't take the quiz twice and don't rush.<br>Only verified data with real names will be used.</label>

			<br>
			<br>

			<div class="button-wrapper">
				<button type="submit" class="button"><span>Start Quiz </span></button>
			</div>
		</form>

		<br>
		<h3 class="centered"><%= locals.error || "" %></h3>
	</div>
</body>
</html>