<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<h1>Quiz</h1>
	<form action="/quiz" method="post">

		<label for="fullName">Full Name</label>
		<input type="text" value="<%= locals.fullName || "" %>" name="fullName">

		<br>

		<label for="class">Class</label>
		<select id="class" name="class">
			<option value="7">Grade 7</option>
			<option value="8">Grade 8</option>
			<option value="9">Grade 9</option>
			<option value="10">Grade 10</option>
			<option value="11">Grade 11</option>
			<option value="12">Grade 12</option>
		</select>

		<br>

		<label for="age">Age</label>
		<input type="number" value="<%= locals.age || "" %>" step="1" min="1" max="99" name="age">

		<br>

		<label for="confidence">What percentage do you think you will get rigth</label>
		<input type="number" value="<%= locals.confidence || "" %>" value="0" step="1" min="0" max="100" name="confidence">
		<label for="confidence">%</label>

		<br>

		<input type="checkbox" name="acceptedTerms">
		<label for="accept">By checking this check box you agree to participate</label>

		<h3 stle="display-none">Hmmm</h3>
		<br>

		<button type="submit">Begin</button>
	</form>

	<br>
	<h3><%= locals.error || "" %></h3>
</body>
</html>