<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script defer src="/javascript/quizController.js"></script>
	<link rel="stylesheet" href="/css/quiz.css">
	<title>Quiz | Science Fair</title>
</head>
<body>
	<div class="div">
		<h1 class="centered title">Quiz</h1>
		<div class="centered">
			<img onclick="updateImage()" src="/images/0.png" id="image" width="332" height="332">
			<div id="inputdiv" style="display:none">
				<h4>What did you use to answer?</h4>
				<textarea id="input"></textarea>
			</div>
		</div>
		
		<div class="centered buttons" id="buttons">
			<button class="button" id="buttonFakeWrap" onclick="toggleFake(this)"><input type="checkbox" onclick="toggleFake(this)" id="fakeButton" style="display:none" value="fake"><label>Fake</label></button>
			<button class="button" id="buttonRealWrap" onclick="toggleReal(this)"><input type="checkbox" onclick="toggleReal(this)" id="realButton" style="display:none" value="real"><label>Real</label></button>
		</div>

		<br>

		<div class="centered">
			<button onclick="backClick()" id="backButton"><</button>
			<button onclick="nextClick()" id="nextButton">></button>
		</div>
		<div class="centered">
			<button onclick="submit(event)" id="submitButton" style="display:none">Submit & Continue</button>
		</div>
		
		<!-- <h5 class="centered" onclick="updateAnswerTracker()" id="answerTracker">Broken... click this to reload</5h> -->
		<div class="progress">
			<div id="1">1</div>
			<div id="2">2</div>
			<div id="3">3</div>
			<div id="4">4</div>
			<div id="5">5</div>
			<div id="6">6</div>
			<div id="7">7</div>
			<div id="8">8</div>
			<div id="9">9</div>
			<div id="10">10</div>
			<div id="11">11</div>
			<div id="12">12</div>
			<div id="13">13</div>
			<div id="14">14</div>
			<div id="15">15</div>
			<div id="16">16</div>
			<div id="17">17</div>
			<div id="18">18</div>
			<div id="19">19</div>
			<div id="20">20</div>
			<div id="21">21</div>
		</div>
		
	</div>
</body>
</html>