<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/user.css">
	<title>User Search | Science Fair</title>
</head>
<body>
	<div>
		<h1 class="centered title ">User</h1>
		<h3 class="centered">Input your id below to find your results.<br> If you don't have your id speak to Petr/Adam.</h3>
		<form class="centered" action="/user" method="post">
			<div>
				<label for="id">Id: </label>
				<input type="text" value="<%= locals.id || "" %>" name="id">
			</div>

			<div class="button-wrapper">
				<button type="submit" class="button"><span>Show Results </span></button>
			</div>
		</form>

		<br>
		<h3 class="centered"><%= locals.error || "" %></h3>
	</div>
</body>
</html>